{% extends "base.html" %}
{% block title %}Short URL{% endblock %}

{% block content %}
<div id="part1">
    <div><img id="logo"
            src="https://images.g2crowd.com/uploads/product/image/large_detail/large_detail_933c58427218792dd8a3082b94ccda85/shylnk.png"
            alt="logo"></div>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <div>
        <h1 id="main-heading">UrlInn</h1>
    </div>
</div>

<div id="part3">
    <h2 id="label">Shortened URL:</h2><br>

    <div class="input-group mb-3">
        <input type="text" value="http://127.0.0.1:5000/{{short_url_display}}" id="myInput" class="form-control"
            aria-describedby="button-addon2" disabled>
        <input type="submit" class="btn btn-warning btn-lg" type="button" id="button-addon2" value="Copy to clipboard"
            onclick="myFunction()">

    </div>
</div>

<div id="part4">
        <p><a href="http://127.0.0.1:5000/">
                <img id="home" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSjTGor1lxGFLhGGFkJPljVikG3cXjEzoRvjbUhLeR7ctYuz3V_zn3h_2G1oXHoI9wHKMU&usqp=CAU"
                alt="Home" width="70" height="70">
            </a></p>
</div>


<script>
    function myFunction() {
        var copyText = document.getElementById("myInput");
        copyText.select();
        navigator.clipboard.writeText(copyText.value);
    }
</script>

{% endblock %}